.main-section{
	margin: auto;
	width: 500px;
	height: 500px;
	
}

/*----------------*/
.box{
	height: 500px;
	display: flex;
    flex-direction: column;

	background-color: blue;
	align-items: center;
	border-radius: 10px;
    padding: 8px;
}

/*----------------*/
span{
	color: azure;
    font-size: 55px;
    padding-bottom: 5px;
}



/*----------------*/
.inBox{
	background-color: white;
	width: 450px;
    height: 420px;
    border-radius: 5px;
    padding: 5px 5px 0px 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


/*----------------*/
.day-number{
	font-size: 180px;
}


.day-word{
	font-size: 60px;
	color: darkgray;
	padding-bottom: 50px;
}


.day-time{
	font-size: 40px;
}

/*----------------*/
.hr{
	margin-top: -25px;
	border: 2px solid darkgray;
	width: 100%;
}



