.jumbotron
{
	background-image: url('maps/map_of_nigeria.png');
	/*background-repeat: no-repeat;*/
	/*background-size: 100% 100%;*/
}

h1 span{
	background-color: whitesmoke;
    border-radius: 15px;

    font-size: 70px;

}

